@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border m-0 p-0 bg-white dark:bg-gray-800 dark:text-gray-300;
  font-family: "Poppins", sans-serif;

  @media only screen and (max-width: 600px) {
    #root,
    .header,
    .footer {
      @apply w-full pl-5 pr-5;
    }

    .main {
      @apply w-full left-0 pl-5 pr-5;
    }
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  #root {
    @apply relative h-screen w-[600px] mx-auto my-0 pl-5 pr-5;
  }
  .header {
    @apply absolute w-[560px] justify-center items-start -translate-x-2/4 flex text-center h-[10rem] left-2/4 top-0 pt-10;
  }
  .main {
    @apply absolute w-[560px] h-[calc(100vh_-_16rem)] flex flex-col items-center justify-start overflow-auto left-5 top-[11rem];
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
  }
  .footer {
    @apply absolute w-[560px] -translate-x-2/4 flex flex-col items-center justify-start h-[5rem] left-2/4 bottom-0;
  }

  .links {
    @apply flex items-center min-w-32 text-center bg-transparent hover:bg-gray-200  dark:hover:bg-gray-700 text-gray-700 dark:text-white font-bold py-2 px-4 border border-gray-400 rounded shadow;
  }

  .active {
    @apply flex flex-col justify-center items-center gap-2 text-blue-500;
  }
}
